extends layout

block content
  h1= title
  p Welcome to #{title}
  ul.list-group.articles
    each article, i in articles
      li.list-group
        h3 title : #{article.title}
        p description : #{article.description}